.simplecart-conitaner{
    background-color: rgb(238, 238, 238);
    padding: 1rem;
    display: table;
    position: absolute;
    right: 1rem;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 4px black;
}

.simplecart-conitaner ul{
    list-style: none;
}